* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;
}

footer {
    height: 60px;
    background-color: #285564;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background-color: #ffd0b4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-container {
    background-color: #285564;
    height: 100px;
    width: 100%;
    padding: 20px;
}

.nav-main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-main a {
    color: #f3ef15;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-items li {
    margin: 10px;
    font-size: 14px;
}

.nav-brand {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.section-container {
    background-color: #faebe2;
    color: #285564;
    padding: 60px 20px 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
}

ol li {
    margin-bottom: 5px;
}

.section-title {
    margin: 0 0 10px 0;
    font-size: 2rem;
}

.section-description {
    margin: 0;
    font-size: 1rem;
    text-align: center
}

.footer-title {
    color: #f3ef15;
    font-size: 1rem;
    margin: auto;
}

@media(min-width: 576px) {
    html {
        font-size: 20px;
    }
}

@media(min-width: 768px) {
    html {
        font-size: 24px;
    }
    .portfolio-item {
        width: 280px;
    }
    .nav-container {
        display: flex;
    }
    .nav-main {
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-brand {
        font-size: 30px;
        margin-bottom: 0;
    }
    .menu-items li {
        font-size: 18px;
    }
}